@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600&display=swap');

body {
    margin: 0;
    font-family: "Lato";
}


header {
    display: flex;
    flex-direction: row;
    background: white;
    height: 85px;
    border-bottom: 1px solid #D6D6D6;
}

header nav {
    display: flex;
    align-self: center;
    justify-content: space-around;
    margin-left: 10vw;
    width: 100vw;
}

header nav .buttonStyle {
    margin-left: 2vw;
}

.signTrial {
    margin-left: 8vw;
    margin-right: 9vw;
}


header img {
    margin-left: 16vw;
    height: 23px;
    width: 80px;
    align-self: center;
}

a, header a {
    text-decoration: none;
    color: #292929;
    font-size: 20px;
}


header a:hover {
    font-weight: 500;
    color: #888888;
}



.section1 {
    background-image: url("/images/BG.png");
    background-size: cover;
    width: 100vw;
    height: 46vw;
}

h1 {
    margin: 0;
    font-size: 3.5em;
    font-weight: 600;
    color: #01996D;
    font-family: "Playfair Display", sans-serif;

}

.span1 {
    display: flex;
    flex-direction: column;
    padding-left: 12vw;
    padding-top: 18vh;
    width: 25vw;
}

.span1 p {
    font-size: 1.23em;
    color: #484848;
    width: 25vw;
    line-height: 31px;
}

.buttonStyle {
    font-weight: normal;
    font-size: 20px;
    color: #FFFFFF;
    padding: 20px 50px;
    background-color:#01996D;
    text-align: center;
    border-radius: 4px;
    width: fit-content;
}




.section2 {
    margin-top: 10vw;
    margin-left: 16vw;
    margin-bottom: 5vh;
}

.section2 h6 {
    color: #424242;
    font-size: 24px;
    font-weight: 400;
    line-height: 157%;
    margin: 0;
}

.div1 {
    display: flex;
}

.div1 h2 {
    font-family: "Playfair Display";
    font-weight: bold;
    font-size: 3.2em;
    line-height: 157%;
    color: #01996D;
    margin: 0;
    width: 35vw;
} 

.div1 p {
    font-weight: 500;
    font-size: 1.3em;
    line-height: 150%;
    color: #424242;
    width: 42vw;            
}



.step-container p {
    font-weight: 500;
    font-size: 1.25em;
    line-height: 150%;
    color: #424242;
    margin-bottom: 5vh;
}

.step-container h4{
    font-family: "Playfair Display";
    font-size: 1.8em;
    line-height: 150%;
    margin-left: 5vw;
    margin-top: 5vh;
}

.step-container {
    display: flex;
    margin-top: 20vh;
}

.step1 {
    width: 20vw;
    margin-right: 8vw;
    background-image: url("/images/01.png");
    background-repeat: no-repeat;
}

.step2 {
    width: 20vw;
    margin-right: 8vw;
    margin-top: 20vh;
    background-image: url("/images/02.png");
    background-repeat: no-repeat;
}



.section3 {
    background-color: #245852;
    display: flex;
    height: 100vh;
}

.carla {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 32px;
    margin-left: 9vw;
}

.carla h2 {
    font-family: "Playfair Display";
    font-size: 2.8em;
    line-height: 157%;
    color: white;
    margin-bottom: 0px;
    width: 30vw;
}

.carla p {
    font-weight: 400;
    font-size: 1.2em;
    line-height: 157%;
    color: white;
    width: 30vw;
}


.video {
    display: flex;
    align-self: center;
} 



.section4 {
    display: flex;
    padding-top: 12vh;
    padding-bottom: 16vh;
    margin-right: 9vw;
}

.loira {
    margin-left: 12vw;
    margin-right: 7vw;
}

.letrinhas h6 {
    font-weight: 400;
    font-size: 1.6em;
    line-height: 157%;
    color: #424242;
    margin-top: 0;
    margin-bottom: 0;
}

.letrinhas h2 {
    font-family: "Playfair Display";
    font-weight: bold;
    font-size: 3em;
    line-height: 157%;
    color: #01996D;
    margin: 0;
    width: 584px;
}

.letrinhas p {
    font-weight: 500;
    font-size: 1.3em;
    line-height: 150%;
    color: #424242;
    margin-bottom: 8vh;
} 




footer {
    background-color: #245852; 
    padding-top: 15vh;
    padding-bottom: 18vh; 
}

footer span {
    flex-direction: column;
    display: flex;
    margin-left: 12vw;
}

footer a {
    font-weight: 400;
    font-size: 1.4em;
    line-height: 30px;
    color: white;   
    margin-bottom: 9vh;
}

footer img {
    width: 107px;
    height: 31px;
    margin-bottom: 9vh;
}